In [77]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [78]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [79]:
def scaler_split(indep_x, dep_y):
    x_train, x_test, y_train, y_test = train_test_split(indep_x, dep_y, test_size = 0.30, random_state = 0)
    sc = StandardScaler()
    x_train = sc.fit_transform(x_train)
    x_test = sc.transform(x_test)
    return x_train, x_test, y_train, y_test

In [80]:
def lda(x_train, x_test, n):
    lda = LDA(n_components = n)
    x_train_lda = lda.fit_transform(x_train, y_train)
    x_test_lda = lda.transform(x_test)
    explained_variance = lda.explained_variance_ratio_
    return x_train_lda, x_test_lda, explained_variance

In [81]:
def cm_prediction(classifier, x_test_lda):
    y_pred = classifier.predict(x_test_lda)
    cm = confusion_matrix(y_test, y_pred)
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    return classifier, accuracy, report, x_test_lda, y_test, cm

In [82]:
def logistic(x_train_lda,y_train,x_test_lda):       
    classifier = LogisticRegression(random_state=0)
    classifier.fit(x_train_lda, y_train)
    classifier,accuracy,report,x_test_lda,y_test,cm = cm_prediction(classifier,x_test_lda)
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [83]:
def svm_linear(x_train_lda, y_train, x_test_lda):
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(x_train_lda, y_train)
    classifier, accuracy, report, x_test_lda, y_test, cm = cm_prediction(classifier, x_test_lda) 
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [84]:
def svm_nl(x_train_lda, y_train, x_test_lda):
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(x_train_lda, y_train)
    classifier, accuracy, report, x_test_lda, y_test, cm = cm_prediction(classifier, x_test_lda) 
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [85]:
def knn(x_train_lda, y_train, x_test_lda):
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(x_train_lda, y_train)
    classifier, accuracy, report, x_test_lda, y_test, cm = cm_prediction(classifier, x_test_lda)
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [86]:
def naive(x_train_lda, y_train, x_test_lda):
    classifier = GaussianNB()
    classifier.fit(x_train_lda, y_train)
    classifier, accuracy, report, x_test_lda, y_test, cm = cm_prediction(classifier, x_test_lda)
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [87]:
def decision(x_train_lda, y_train, x_test_lda):
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(x_train_lda, y_train)
    classifier, accuracy, report, x_test_lda, y_test, cm = cm_prediction(classifier, x_test_lda) 
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [88]:
def random(x_train_lda, y_train, x_test_lda):
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(x_train_lda, y_train)
    classifier, accuracy, report, x_test_lda, y_test, cm = cm_prediction(classifier, x_test_lda) 
    return  classifier,accuracy,report,x_test_lda,y_test,cm

In [89]:
def lda_classification(acclog, accsvml, accsvmnl, accknn, accnaive, accdeci, accrand):
    dataframe = pd.DataFrame(index = ['lda'], columns = ['Logistic', 'SVML', 'SVMNL', 'KNN', 'Naive', 'Decision', 'Random'])
    for number, item in enumerate(dataframe.index):       # Enumerate - it is a counter that adds index to each items in an iterable
        dataframe['Logistic'][item] = acclog[number]
        dataframe['SVML'][item] = accsvml[number]
        dataframe['SVMNL'][item] = accsvmnl[number]
        dataframe['KNN'][item] = accknn[number]
        dataframe['Naive'][item] = accnaive[number]
        dataframe['Decision'][item] = accdeci[number]
        dataframe['Random'][item] = accrand[number]
    return dataframe

In [90]:
dataset = pd.read_csv('Employee_Attrition_Dataset.csv', index_col = None)  # index_col - keep the default index not allowing the input to reset the index position
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [91]:
# dataset.drop(['EmployeeCount', 'EmployeeNumber','StandardHours'], axis = 1, inplace = True)

In [92]:
df1 = pd.get_dummies(dataset, dtype = int, drop_first = True)
df1

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,1,2,3,61,2,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,1,4,4,92,2,1,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,1,0,0,0,0,0,0,1,0,0
1466,39,613,6,1,1,2062,4,42,2,3,...,0,0,0,0,0,0,0,1,0,0
1467,27,155,4,3,1,2064,2,87,4,2,...,0,0,1,0,0,0,0,1,0,1
1468,49,1023,2,3,1,2065,4,63,2,2,...,0,0,0,0,0,1,0,1,0,0
1469,34,628,8,3,1,2068,2,82,4,2,...,1,0,0,0,0,0,0,1,0,0

In [93]:
# Input and Output Split
indep_x = df1.drop("Attrition_Yes", axis =1)
dep_y = df1['Attrition_Yes']

In [94]:
x_train, x_test, y_train, y_test = scaler_split(indep_x, dep_y)

In [95]:
acclog = []
accsvml = []
accsvmnl = []
accknn = []
accnaive = []
accdeci = []
accrand = []
n_components_list = []

n_classes = len(np.unique(y_train))                # finds all unique classes (like [0, 1])
n_features = x_train.shape[1]                      # gives number of features
max_n_components = min(n_features, n_classes - 1)  # 48 n_features so [min(48,(2-1)) = 1] so LDA component would be 1
print(max_n_components)

1

In [96]:
for n in range(1, max_n_components + 1):
    x_train_lda, x_test_lda, explained_variance = lda(x_train, x_test, n)
    
    classifier, accuracy, report, x_test_lda, y_test,cm = logistic(x_train_lda, y_train, x_test_lda)
    acclog.append(accuracy)
    
    classifier, accuracy, report, x_test_lda, y_test, cm = svm_linear(x_train_lda, y_train, x_test_lda)
    accsvml.append(accuracy)
    
    classifier, accuracy, report, x_test_lda, y_test, cm = svm_nl(x_train_lda, y_train, x_test_lda)
    accsvmnl.append(accuracy)
    
    classifier, accuracy, report, x_test_lda, y_test, cm = knn(x_train_lda, y_train, x_test_lda)
    accknn.append(accuracy)
    
    classifier, accuracy, report, x_test_lda, y_test, cm = naive(x_train_lda, y_train, x_test_lda)
    accnaive.append(accuracy)
    
    classifier, accuracy, report, x_test_lda, y_test, cm = decision(x_train_lda, y_train, x_test_lda)
    accdeci.append(accuracy)
    
    classifier, accuracy, report, x_test_lda, y_test, cm = random(x_train_lda, y_train, x_test_lda)
    accrand.append(accuracy)

    n_components_list.append(n)

In [97]:
results_df = pd.DataFrame({
    'lda': n_components_list,
    'Logistic': acclog,
    'SVML': accsvml,
    'SVMNL': accsvmnl,
    'KNN'  : accknn,
    'Naive': accnaive,
    'Decision': accdeci,
    'Random': accrand
})


results_df.set_index('lda', inplace=True)

# Print the final result table
print(results_df)

     Logistic      SVML     SVMNL       KNN     Naive  Decision    Random
lda
1    0.879819  0.882086  0.882086  0.882086  0.882086   0.84127  0.843537