In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest

In [2]:
dataset = pd.read_csv("Employee_Attrition_Dataset.csv")
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [3]:
dataset.drop(['EmployeeCount', 'EmployeeNumber','StandardHours'], axis = 1, inplace = True)
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,3,Male,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,4,Male,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2,Male,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,4,Male,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2,Male,...,3,1,0,6,3,4,4,3,1,2

In [4]:
df1 = pd.get_dummies(dataset, dtype = int, drop_first = True)
df1

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,2,94,3,2,4,5993,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,3,61,2,2,2,5130,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,4,92,2,1,3,2090,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,4,56,3,1,3,2909,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,40,3,1,2,3468,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,3,41,4,2,4,2571,...,1,0,0,0,0,0,0,1,0,0
1466,39,613,6,1,4,42,2,3,1,9991,...,0,0,0,0,0,0,0,1,0,0
1467,27,155,4,3,2,87,4,2,2,6142,...,0,0,1,0,0,0,0,1,0,1
1468,49,1023,2,3,4,63,2,2,2,5390,...,0,0,0,0,0,1,0,1,0,0
1469,34,628,8,3,2,82,4,2,3,4404,...,1,0,0,0,0,0,0,1,0,0

In [5]:
df1.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_Yes',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='object')

In [6]:
# Input and Output Split
indep_x = df1.drop("Attrition_Yes", axis =1)
dep_y = df1['Attrition_Yes']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(indep_x, dep_y, test_size = 0.30, random_state = 0)
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [8]:
param_grid = {'solver':['lbfgs','newton-cg','liblinear','saga'], 'penalty':['l2','l1','elasticnet']}
grid = GridSearchCV(LogisticRegression(), param_grid, refit = True, verbose = 3, n_jobs = -1,scoring = 'f1_weighted')
grid.fit(x_train, y_train)

# for finding Feature Importance
from sklearn.feature_selection import chi2
classifier = LogisticRegression()
classifier.fit(x_train, y_train)
test = SelectKBest(score_func = chi2, k = 33)
fit1 = test.fit(indep_x, dep_y)
selectk_features = fit1.transform(indep_x)
feature_scores = fit1.scores_
top_indices = fit1.get_support(indices = True)
feature_names = indep_x.columns
coefficients = classifier.coef_[0]  # coef_[0]--weights of each feature; abs(coefficients)--- taking positive values even it is negative eg: -1.5=1.5
feature_imp_lr = pd.DataFrame({'Feature': feature_names,'Importance': abs(coefficients)}).sort_values(by='Importance', ascending=False)
print(feature_imp_lr)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
                              Feature  Importance
43                       OverTime_Yes    0.823143
29             EducationField_Medical    0.640845
23   BusinessTravel_Travel_Frequently    0.634603
19                     YearsAtCompany    0.605666
20                 YearsInCurrentRole    0.572102
21            YearsSinceLastPromotion    0.559844
27       EducationField_Life Sciences    0.523879
11                 NumCompaniesWorked    0.492787
22               YearsWithCurrManager    0.488201
42               MaritalStatus_Single    0.486190
40       JobRole_Sales Representative    0.454678
4             EnvironmentSatisfaction    0.433165
34      JobRole_Laboratory Technician    0.416770
8                     JobSatisfaction    0.382526
24       BusinessTravel_Travel_Rarely    0.379631
2                    DistanceFromHome    0.365574
18                    WorkLifeBalance    0.354557
39            JobRole_Sales Executive    0.353643
16                  TotalWorkingYears    0.350672
25  Department_Research & Development    0.320669
0                                 Age    0.313075
6                      JobInvolvement    0.282779
14           RelationshipSatisfaction    0.259524
37          JobRole_Research Director    0.237870
33            JobRole_Human Resources    0.230887
9                       MonthlyIncome    0.226302
26                   Department_Sales    0.181182
30               EducationField_Other    0.178469
41              MaritalStatus_Married    0.172062
17              TrainingTimesLastYear    0.154190
32                        Gender_Male    0.149486
12                  PercentSalaryHike    0.142161
15                   StockOptionLevel    0.135104
13                  PerformanceRating    0.128328
1                           DailyRate    0.113563
28           EducationField_Marketing    0.105828
10                        MonthlyRate    0.095858
38         JobRole_Research Scientist    0.071523
36     JobRole_Manufacturing Director    0.065094
31    EducationField_Technical Degree    0.039524
3                           Education    0.020495
5                          HourlyRate    0.016607
35                    JobRole_Manager    0.006915
7                            JobLevel    0.000162

In [9]:
grid_pred = grid.predict(x_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_pred)
    
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, grid_pred)
    
from sklearn.metrics import classification_report
report = classification_report(y_test, grid_pred)

In [10]:
print(report)

              precision    recall  f1-score   support

           0       0.91      0.98      0.94       371
           1       0.80      0.46      0.58        70

    accuracy                           0.90       441
   macro avg       0.85      0.72      0.76       441
weighted avg       0.89      0.90      0.88       441

In [11]:
import pickle
filename = 'Attrition_Prediction_Dataset.sav'
pickle.dump(classifier,open(filename,'wb'))
loaded_model = pickle.load(open('Attrition_Prediction_Dataset.sav','rb'))

In [16]:
data = {
    'Age': int(input('Age: ')),
    'DailyRate': int(input('DailyRate: ')),
    'DistanceFromHome': int(input('DistanceFromHome: ')),
    'Education': int(input('Education (1–5): ')),
    'EnvironmentSatisfaction': int(input('EnvironmentSatisfaction (1–4): ')),
    'HourlyRate': int(input('HourlyRate (30-100):')),
    'JobInvolvement': int(input('JobInvolvement (1–4): ')),
    'JobLevel': int(input('JobLevel (1–5): ')),
    'JobSatisfaction': int(input('JobSatisfaction (1–4): ')),
    'MonthlyIncome': int(input('MonthlyIncome: ')),
    'MonthlyRate': int(input('MonthlyRate: ')),
    'NumCompaniesWorked': int(input('NumCompaniesWorked: ')),
    'PercentSalaryHike': int(input('PercentSalaryHike: ')),
    'PerformanceRating': int(input('PerformanceRating (1–4): ')),
    'RelationshipSatisfaction': int(input('RelationshipSatisfaction (1–4): ')),
    'StockOptionLevel': int(input('StockOptionLevel (0–3): ')),
    'TotalWorkingYears': int(input('TotalWorkingYears: ')),
    'TrainingTimesLastYear': int(input('TrainingTimesLastYear: ')),
    'WorkLifeBalance': int(input('WorkLifeBalance (1–4): ')),
    'YearsAtCompany': int(input('YearsAtCompany: ')),
    'YearsInCurrentRole': int(input('YearsInCurrentRole: ')),
    'YearsSinceLastPromotion': int(input('YearsSinceLastPromotion: ')),
    'YearsWithCurrManager': int(input('YearsWithCurrManager: ')),
    'BusinessTravel_Travel_Frequently': int(input('BusinessTravel_Travel_Frequently (1/0): ')),
    'BusinessTravel_Travel_Rarely': int(input('BusinessTravel_Travel_Rarely (1/0): ')),
    'Department_Research & Development': int(input('Department_Research & Development (1/0): ')),
    'Department_Sales': int(input('Department_Sales (1/0): ')),
    'EducationField_Life Sciences': int(input('EducationField_Life Sciences (1/0): ')),
    'EducationField_Marketing': int(input('EducationField_Marketing (1/0): ')),
    'EducationField_Medical': int(input('EducationField_Medical (1/0): ')),
    'EducationField_Other': int(input('EducationField_Other (1/0): ')),
    'EducationField_Technical Degree': int(input('EducationField_Technical Degree (1/0): ')),
    'Gender_Male': int(input('Gender_Male (1=Male, 0=Female): ')),
    'JobRole_Human Resources': int(input('JobRole_Human Resources (1/0): ')),
    'JobRole_Laboratory Technician': int(input('JobRole_Laboratory Technician (1/0): ')),
    'JobRole_Manager': int(input('JobRole_Manager (1/0): ')),
    'JobRole_Manufacturing Director': int(input('JobRole_Manufacturing Director (1/0): ')),
    'JobRole_Research Director': int(input('JobRole_Research Director (1/0): ')),
    'JobRole_Research Scientist': int(input('JobRole_Research Scientist (1/0): ')),
    'JobRole_Sales Executive': int(input('JobRole_Sales Executive (1/0): ')),
    'JobRole_Sales Representative': int(input('JobRole_Sales Representative (1/0): ')),
    'MaritalStatus_Married': int(input('MaritalStatus_Married (1/0): ')),
    'MaritalStatus_Single': int(input('MaritalStatus_Single (1/0): ')),
    'OverTime_Yes': int(input('OverTime_Yes (1=Yes, 0=No): '))
}

Age:  34
DailyRate:  345
DistanceFromHome:  2
Education (1–5):  4
EnvironmentSatisfaction (1–4):  4
HourlyRate:  345
JobInvolvement (1–4):  2
JobLevel (1–5):  4
JobSatisfaction (1–4):  4
MonthlyIncome:  53234
MonthlyRate:  32332
NumCompaniesWorked:  3
PercentSalaryHike:  4
PerformanceRating (1–4):  5
RelationshipSatisfaction (1–4):  2
StockOptionLevel (0–3):  3
TotalWorkingYears:  20
TrainingTimesLastYear:  5
WorkLifeBalance (1–4):  4
YearsAtCompany:  12
YearsInCurrentRole:  5
YearsSinceLastPromotion:  4
YearsWithCurrManager:  3
BusinessTravel_Travel_Frequently (1/0):  1
BusinessTravel_Travel_Rarely (1/0):  0
Department_Research & Development (1/0):  1
Department_Sales (1/0):  0
EducationField_Life Sciences (1/0):  0
EducationField_Marketing (1/0):  0
EducationField_Medical (1/0):  0
EducationField_Other (1/0):  0
EducationField_Technical Degree (1/0):  1
Gender_Male (1=Male, 0=Female):  1
JobRole_Human Resources (1/0):  1
JobRole_Laboratory Technician (1/0):  0
JobRole_Manager (1/0):  0
JobRole_Manufacturing Director (1/0):  0
JobRole_Research Director (1/0):  0
JobRole_Research Scientist (1/0):  0
JobRole_Sales Executive (1/0):  0
JobRole_Sales Representative (1/0):  0
MaritalStatus_Married (1/0):  1
MaritalStatus_Single (1/0):  0
OverTime_Yes (1=Yes, 0=No):  1

In [21]:
df = pd.DataFrame([data])
prediction = loaded_model.predict(df)
print("\nPredicted Attrition:", "Yes" if prediction[0] == 1 else "No")
prediction

Predicted Attrition: No

array([0])